    
     .ticks {
       font: 10px sans-serif;
     }

     .slider-name {
       font: 12px sans-serif;
     }
     .track,
     .track-inset,
     .track-overlay {
       stroke-linecap: round;
     }

     .track {
       stroke: #000;
       stroke-opacity: 0.3;
       stroke-width: 10px;
     }

     .track-inset {
       stroke: #ddd;
       stroke-width: 8px;
     }

     .track-overlay {
       pointer-events: stroke;
       stroke-width: 50px;
       stroke: transparent;
       cursor: crosshair;
     }

     .handle {
       fill: #fff;
       stroke: #000;
       stroke-opacity: 0.5;
       stroke-width: 1.25px;
     }


