[submodule "ThirdParty/paraEllip3d_DEM_PD/src/InputOutput/cppcodec"]
	path = ThirdParty/paraEllip3d_DEM_PD/src/InputOutput/cppcodec
	url = git://github.com/tplgy/cppcodec.git
[submodule "ThirdParty/paraEllip3d_DEM_PD/src/googletest"]
	path = ThirdParty/paraEllip3d_DEM_PD/src/googletest
	url = git@github.com:google/googletest.git
