[submodule "GranularSim/src/googletest"]
	path = GranularSim/src/googletest
	url = https://github.com/google/googletest.git
[submodule "GranularSim/src/cppcodec"]
	path = GranularSim/src/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "Vaango/src/submodules/googletest"]
	path = Vaango/src/submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "Vaango/src/submodules/json"]
	path = Vaango/src/submodules/json
	url = https://github.com/nlohmann/json.git
        branch = master 
[submodule "GranularSim/src/qhull"]
	path = GranularSim/src/qhull
	url = https://github.com/qhull/qhull.git
