opt
dbg
dbg_gcc
opt_gcc
opt_clang_amr
dbg_clang
opt_clang
opt_clang_amr
opt_visit
opt_Packages
opt_gcc_boost1.59
opt_gcc_boost1.63
dbg_petsc
opt_petsc
runs
gold_standards
*.pyc
*.so
*~
test_run
ThirdParty/Peridigm/examples/elastic_disk_impact/*.csv
copyright*
Copyright*
*.aux
*.bbl
*.bcf 
*.blg
*.idx
*.log
*.out
*.ptc
*.run.xml
*.toc
*.session
*.session.gui
CMakeCache.txt
CMakeFiles
build
cmake_install.cmake
.vscode
_site
gh-pages
googletest
octave-workspace
_clang-format
.clang-tidy
.jekyll-cache
.sass-cache
tt
submodules/petsc/config
submodules/petsc/arch-linux*
sunmodules/petsc/*.bkp
sunmodules/petsc/*.mod
sunmodules/petsc/*.log
